<html>
    <head>
        <title>
            <%=title%>
        </title>
        
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">


        <%- style -%>
        
    </head>
    <body>
         <!-- this is a way to implement partials  --> 
       <%- include('_header'); -%>
       
       
        <main id="layout-main">
            <!--This is the way to include the variable part  -->
            <%- body%>
        </main>

        <!-- this is a way to implement partials -->
        <%- include('_footer'); %>
    </body>
</html>